<div class="row">

    <div class="col-6">
        <app-dona titulo="Ventas"></app-dona>
    </div>
    <div class="col-6">
        <app-dona titulo="Compras" [labels]="labels1" [data]=data1></app-dona>
    </div>

</div>

<div class="row">

    <div class="col-6">
        <app-dona titulo="Cambios"></app-dona>
    </div>
    <div class="col-6">
        <app-dona titulo="Ofertas"></app-dona>
    </div>

</div>