<div class="fondo-modal-imagen animated fadeIn fast oculto" [class.oculto]="modalImagenService.getOcultarModal">

    <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" style="display: block;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel1">Cargar imagen</h4>
                    <button type="button" (click)="cerrarModal()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">

                    <h3>Seleccione una imagen</h3>

                    <div class="text-center">
                        <img *ngIf="!imgTmp" [src]="modalImagenService.img" class="img-avatar">
                        <img *ngIf="imgTmp" [src]="imgTmp" class="img-avatar">
                    </div>

                    <input type="file" (change)="cambiarImagen($event.target.files[0])">


                </div>
                <div class="modal-footer">
                    <button type="button" (click)="cerrarModal()" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" (click)="subirImagen()" class="btn btn-primary">Cargar imagen</button>
                </div>
            </div>
        </div>
    </div>

</div>