/* You can add global styles to this file, and also import other style files */

.fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

#themecolors .selector,
.cursor {
    cursor: pointer;
}

#google-btn {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.img-avatar {
    width: 200px;
}

.img-logo {
    width: 30px;
    height: 30px;
}

.w75 {
    width: 75px;
}

.w100 {
    width: 100px;
}

.w140 {
    width: 140px;
}

.avatar-mantenimiento {
    border-radius: 100%;
    width: 35px;
}

.oculto {
    display: none;
}

.fondo-modal-imagen {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0px;
    height: 100%;
    top: 0px;
    width: 100%;
    z-index: 999;
}